body {
  font-size: 2em;
  font-family: 'Open Sans', sans-serif;
  word-wrap: break-word;
}

.page-header {

}

.container {
  max-width: 800px;
}

.nav-item {
  margin: 0 40px 0 0;
  padding: 3px;
}

.page-title {
  margin-top: 5%;
  margin-bottom: 0;
  display: inline-block;
}

.page-container {
  margin-top: 60px;
  margin-left: 5%;
  margin-right: 5%;
}

.site-navigation {
  margin-top: 6%;
  margin-left: 50px;
  display: inline-block;
  float: right;
}

@media only screen and (max-width: 640px) {
    .page-title {
      margin-top: 5%;
      margin-bottom: 0;
      display: block;
    }

    .site-navigation {
      margin-top: 6%;
      margin-left: 0px;
      display: block;
      float: left;
    }
}

/* Portfolio items */

.portfolio-item {
  display: block;
  text-align: center;
  white-space: normal;
  color: #000000;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0;
  margin-bottom: 30px;
}

.portfolio-item:hover {
  color: #000000;
  border-color: rgba(52,73,94,0);
  background-color: rgba(52,73,94,0.1);
}

.portfolio-item-text {
  margin-bottom: 0;
}

.portfolio-img {
  width: 64px;
  height: auto;
}

/* Link style */

a {
  position: relative;
  outline: none;
  color: #e74c3c;
  vertical-align: top;
  text-decoration: none;

  border-bottom: 1px solid rgba(52,73,94,0.4);
  font-weight: 500;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}

a::before,
a::after {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a:hover {
  color: #e74c3c;
  border-color: rgba(52,73,94,0);
  background-color: rgba(52,73,94,0.1);
}